
.gardient{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,666666+100&0.6+0,0.6+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(102,102,102,0.6) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.6)), color-stop(100%,rgba(102,102,102,0.6))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(102,102,102,0.6) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(102,102,102,0.6) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(102,102,102,0.6) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(102,102,102,0.6) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#99666666',GradientType=0 ); /* IE6-9 */
}

.gardientInverse{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,28c783+17,52b152+33,00b28c+67,005700+83,002400+100 */
background: rgb(180,221,180); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(180,221,180,1) 0%, rgba(40,199,131,1) 17%, rgba(82,177,82,1) 33%, rgba(0,178,140,1) 67%, rgba(0,87,0,1) 83%, rgba(0,36,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(180,221,180,1)), color-stop(17%,rgba(40,199,131,1)), color-stop(33%,rgba(82,177,82,1)), color-stop(67%,rgba(0,178,140,1)), color-stop(83%,rgba(0,87,0,1)), color-stop(100%,rgba(0,36,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(180,221,180,1) 0%,rgba(40,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,178,140,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(180,221,180,1) 0%,rgba(40,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,178,140,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(180,221,180,1) 0%,rgba(40,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,178,140,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(180,221,180,1) 0%,rgba(40,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,178,140,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.gardient2{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,eeeeee+100;Grey+Flat */
background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}



.gardient3{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9b039+0,fefcea+100&0.6+0,0.6+100 */
background: -moz-linear-gradient(top, rgba(249,176,57,0.6) 0%, rgba(254,252,234,0.6) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,176,57,0.6)), color-stop(100%,rgba(254,252,234,0.6))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(249,176,57,0.6) 0%,rgba(254,252,234,0.6) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(249,176,57,0.6) 0%,rgba(254,252,234,0.6) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(249,176,57,0.6) 0%,rgba(254,252,234,0.6) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(249,176,57,0.6) 0%,rgba(254,252,234,0.6) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99f9b039', endColorstr='#99fefcea',GradientType=0 ); /* IE6-9 */

}

.gardient4{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,666666+0,595959+0,474747+0,2c2c2c+40,000000+51,111111+57,2b2b2b+100,1c1c1c+100,131313+100 */
background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(44,44,44,1) 40%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 57%, rgba(43,43,43,1) 100%, rgba(28,28,28,1) 100%, rgba(19,19,19,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(0%,rgba(102,102,102,1)), color-stop(0%,rgba(89,89,89,1)), color-stop(0%,rgba(71,71,71,1)), color-stop(40%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(57%,rgba(17,17,17,1)), color-stop(100%,rgba(43,43,43,1)), color-stop(100%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(102,102,102,1) 0%,rgba(89,89,89,1) 0%,rgba(71,71,71,1) 0%,rgba(44,44,44,1) 40%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 57%,rgba(43,43,43,1) 100%,rgba(28,28,28,1) 100%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(102,102,102,1) 0%,rgba(89,89,89,1) 0%,rgba(71,71,71,1) 0%,rgba(44,44,44,1) 40%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 57%,rgba(43,43,43,1) 100%,rgba(28,28,28,1) 100%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(102,102,102,1) 0%,rgba(89,89,89,1) 0%,rgba(71,71,71,1) 0%,rgba(44,44,44,1) 40%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 57%,rgba(43,43,43,1) 100%,rgba(28,28,28,1) 100%,rgba(19,19,19,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(102,102,102,1) 0%,rgba(89,89,89,1) 0%,rgba(71,71,71,1) 0%,rgba(44,44,44,1) 40%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 57%,rgba(43,43,43,1) 100%,rgba(28,28,28,1) 100%,rgba(19,19,19,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */


}

.prettygardient{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b0d4e3+0,88bacf+100;Grey+3D+%233 */
background: #b0d4e3; /* Old browsers */
background: -moz-linear-gradient(top, #b0d4e3 0%, #88bacf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0d4e3), color-stop(100%,#88bacf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b0d4e3 0%,#88bacf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #b0d4e3 0%,#88bacf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #b0d4e3 0%,#88bacf 100%); /* IE10+ */
background: linear-gradient(to bottom, #b0d4e3 0%,#88bacf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d4e3', endColorstr='#88bacf',GradientType=0 ); /* IE6-9 */


}
